@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

// Main Variables
$primary-blue: #1DA1F2;
$secondary-blue: #D7F5F5;
$dark-teal: #3585A1;
$dark-blue: #14548C;
$electric-green: #2ED8AF;
$dark-gray: #757575;
$light-beige: #FBF8F3;
$soft-red: #DF1414;